.content {
  font-family: "Noto Sans TC", sans-serif, "roboto";
  font-weight: 300;
}
.content h1 {
  font-size: 40px;
  font-weight: 300;
}
.content h2 {
  font-size: 32px;
  font-weight: 300;
}
.content h3 {
  font-size: 28px;
  font-weight: 300;
}
.content h3.header {
  font-size: 22px;
  font-weight: 400;
}
.content h3.productBlock-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  word-break: break-word;
  width: 90%;
}
.content h3.small_text {
  font-size: 18px;
  font-weight: 300;
}
.content h4 {
  font-size: 18px;
  font-weight: 300;
}
.content h4.header {
  font-size: 18px;
  font-weight: 400;
}
.content h5 {
  font-size: 10px;
  font-weight: 300;
}
.content p {
  font-size: 13px;
  font-weight: 300;
  line-height: 28px;
}
.content .footer_header {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.content .motto_text {
  font-size: 24px;
  font-weight: 300;
  color: #707070;
}
.content .motto_text .small_text {
  font-family: "Snell Roundhand";
}
@media (max-width: 768px) {
  .content .motto_text {
    font-size: 16px;
  }
}
a {
  color: #454346;
}
a:hover {
  color: #121112;
  text-decoration: none;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  line-height: 36px;
}
.content_primary {
  background-color: #fffbf5;
}
.content_secondary {
  background-color: #dbf4f1;
}
.news_bar {
  background-color: #f5f5f5;
}
.special_product,
.guarantee,
.store {
  background-color: #fff6f4;
  overflow: hidden;
}
.header_form {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  flex-basis: 300px;
  flex-grow: 0;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  order: 2;
  flex-basis: 200px;
  flex-grow: 1;
}
@media (max-width: 480px) {
  .header_logo {
    max-width: 150px;
    order: initial;
  }
}
.header_control {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  flex-basis: 220px;
  flex-grow: 0;
}
@media (max-width: 480px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    height: 88px;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.nav-tabs {
  border: none;
}
.nav-link {
  padding: 0.5rem 1rem;
  color: #a7a7a7;
}
.nav-link:hover {
  color: #5b5b5b;
}
.nav-item {
  color: #f5f5f5;
  padding: 12px 35px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
  background: none;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
}
.special_bar {
  font-size: 13px;
  line-height: 1.5rem;
}
.product-slide {
  max-width: fit-content;
  padding: 0;
}
.productBlock-title {
  text-align: left;
}
.productBlock_rrp {
  text-decoration: line-through;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
.productBlock_price {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.productAddToWishlist_buttonIcon {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 2rem;
  width: auto;
  justify-content: flex-end;
}
.productAddToWishlist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.productBlock_promote {
  color: #3fc4b4;
  font-size: 13px;
  padding: 1rem 0;
}
.btn {
  padding: 0.5rem 1.75rem;
}
.btn-link:hover {
  text-decoration: none;
}
section .btn-dark {
  background-color: #454346;
  border-color: #454346;
}
section .btn-outline-dark {
  border-radius: 0;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
}
section .btn-outline-dark:hover {
  color: #a7a7a7;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #a7a7a7
    rgba(255, 255, 255, 0);
  background: none;
}
section .btn-outline-dark:active,
section .btn-outline-dark:focus {
  color: #454346;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
  background: none;
}
section .btn-outline-dark:focus {
  color: #454346;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #a7a7a7
    rgba(255, 255, 255, 0);
  background: none;
  box-shadow: none;
}
section .btn-outline-dark:not(:disabled):not(.disabled).active,
section .btn-outline-dark:not(:disabled):not(.disabled):active,
section .show > .btn-outline-dark.dropdown-toggle {
  color: #454346;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
  background: none;
  box-shadow: none;
}
section .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
section .btn-outline-dark:not(:disabled):not(.disabled):active:focus,
section .show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: none;
}
section .btn-outline-grey {
  font-weight: 300;
  color: #a7a7a7;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #a7a7a7
    rgba(255, 255, 255, 0);
}
section .btn-outline-grey:hover {
  color: #454346;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
}
section .btn-outline-grey:focus {
  box-shadow: none;
}
section .btn-outline-grey:not(:disabled):not(.disabled).active,
section .btn-outline-grey:not(:disabled):not(.disabled):active,
section .show > .btn-outline-grey.dropdown-toggle {
  color: #454346;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
  background: none;
  box-shadow: none;
}
section .btn-outline-grey:not(:disabled):not(.disabled).active:focus,
section .btn-outline-grey:not(:disabled):not(.disabled):active:focus,
section .show > .btn-outline-grey.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-input {
  position: absolute;
  right: 0;
  padding: 0;
  line-height: 36px;
}
.button_block {
  width: auto;
  height: 30px;
}
.carouselButtons {
  position: absolute;
  width: 100%;
  padding-bottom: 35.4%;
  height: 0px;
  top: 0px;
  left: 0px;
}
.title {
  padding: 0.5rem 1rem;
}
.title_border {
  width: 88px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
  margin: 0 auto;
}
.articleBlock-title {
  padding: 1rem 0 0 0;
}
.form_outline {
  border: none;
  border-bottom: 1px solid #a7a7a7;
  border-radius: 0;
}
.form-control:focus {
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #454346
    rgba(255, 255, 255, 0);
  box-shadow: none;
}
@media (max-width: 480px) {
  .img_mobile {
    width: 278px;
    height: auto;
  }
}
#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

/*# sourceMappingURL=style.min.css.map */
