// color
$color_primary: #FFFBF5;
$color_secondary: #DBF4F1;
$color_pink: #FFF6F4;
$color_dark: #454346;
$color_white: #fff;
$color_grey: #F5F5F5;
$color_dark_grey: #A7A7A7;
$color_motto_text: #707070;
$color_link: #454346;
$border_color_primary: #fff0 #fff0 $color_dark #fff0;
$border_hover_color_primary: #fff0 #fff0 $color_dark_grey #fff0;
$border_color_secondary: #fff0 #fff0 $color_dark_grey #fff0;
$border_hover_secondary: #fff0 #fff0 $color_dark #fff0;


$title_padding: .5rem 1rem;
$title-border: 88px;
$header-pt: 1rem 0 0 0;
// size
$max_content_width: 768px;
// margin
$icon_margin: .3rem;
// padding
$nav_padding: 12px 35px;
// font
$font_base_size: 10px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 800;


@mixin text($size: 13px,$weight: 300) {
  display: block;
  font-size: $size;
  font-weight: $weight;
}
@mixin icon_text($size: 13px,$line-height: 1.5rem) {
  font-size: $size;
  line-height: $line-height;
}
@mixin md {
  @media (max-width:768px) {
    @content;
  }
}
@mixin sm {
  @media (max-width:480px) {
    @content;
  }
}
.content {  // font-family: 思源黑體 TW
  font-family: 'Noto Sans TC', sans-serif,'roboto';
  font-weight: 300;

  & h1 {
    font-size: $font_base_size*4;
    font-weight: $font-weight-light;
  }
  & h2 {
    font-size: $font_base_size*3.2;
    font-weight: $font-weight-light;
  }
  & h3 {
    font-size: $font_base_size*2.8;
    font-weight: $font-weight-light;
  }
  & h3.header {
    font-size: $font_base_size*2.2;
    font-weight: $font-weight-regular;
  }
  & h3.productBlock-name {
    font-size: $font_base_size*1.6;
    font-weight: $font-weight-regular;
    line-height: 1.5;
    display: block;
    word-break: break-word;
    width: 90%;
  }
  & h3.small_text {
    font-size: $font_base_size*1.8;
    font-weight: $font-weight-light;
  }
  & h4 {
    font-size: $font_base_size*1.8;
    font-weight: $font-weight-light;
  }
  & h4.header {
    font-size: $font_base_size*1.8;
    font-weight: $font-weight-regular;
  }
  & h5 {
    font-size: $font_base_size*1;
    font-weight: $font-weight-light;
  }
  & p {
    font-size: $font_base_size*1.3;
    font-weight: $font-weight-light;
    line-height: 28px;
  }
  & .footer_header {
    font-size: $font_base_size*2.2;
    font-weight: $font-weight-regular;
    margin-bottom: 1rem;
  }
  & .motto_text {
    font-size: $font_base_size*2.4;
    font-weight: $font-weight-light;
    color: $color_motto_text;
    & .small_text {
      font-family: 'Snell Roundhand';
    }
    @include md {
      font-size: $font_base_size*1.6;
    }
  }
}
a {
  color: $color_link;
  &:hover {
    color: darken($color_link, 20%);
    text-decoration: none;
  }
}
footer {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    line-height: 36px;
  }
// area background color
}
.content_primary {
  background-color: $color_primary;
}
.content_secondary {
  background-color: $color_secondary;
}
.news_bar {
  background-color: $color_grey;
}
.special_product,
.guarantee,
.store {
  background-color: $color_pink;
  overflow: hidden;
}
// header
@mixin space_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_form {
  @include space_center;
  order: 1;
  flex-basis: 300px;
  flex-grow: 0;
}
.header_logo {
  @include space_center;
  max-width: 200px;
  order: 2;
  flex-basis: 200px;
  flex-grow: 1;
  @include sm {
    max-width: 150px;
    order: initial;
  }
}
.header_control {
  @include space_center;
  order: 3;
  flex-basis: 220px;
  flex-grow: 0;
}// nav-style
.navbar {
  @include sm {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    height: 88px;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.nav-tabs {
  border: none;
}
.nav-link {
  padding: $title_padding;
  color: $color_dark_grey;
  &:hover {
    color: darken($color_dark_grey, 30%);
  }
}
.nav-item {
  color: $color_grey;
  padding: $nav_padding;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: $border_color_primary;
  background: none;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: $border_color_primary;
}

.special_bar {
  @include icon_text;
}
.product-slide {
  max-width: fit-content;
  padding: 0;
}
.productBlock-title {
  text-align: left;
}
.productBlock_rrp {
  text-decoration: line-through;
  @include text;
}
.productBlock_price {
  @include text($size: 18px,$weight: 500);
  margin-bottom: .5rem;
}
.productAddToWishlist_buttonIcon {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 2rem;
  width: auto;
  justify-content: flex-end;
}
.productAddToWishlist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.productBlock_promote {
  color: darken($color_secondary, 40%);
  font-size: $font_base_size*1.3;
  padding: 1rem 0;
}


// button style
.btn {
  padding: .5rem 1.75rem;
}
.btn-link {
  &:hover {
    text-decoration: none;
  }
}
section {
  .btn-dark {
    background-color: $color_dark;
    border-color: $color_dark;
  }
  .btn-outline-dark {
    border-radius: 0;
    border-color: $border_color_primary;
    &:hover {
      color: $color_dark_grey;
      border-color: $border_hover_color_primary;
      background: none;
    }
    &:active,
    &:focus {
      color: $color_dark;
      border-color: $border_color_primary;
      background: none;
    }
    &:focus {
      color: $color_dark;
      border-color: $border_hover_color_primary;
      background: none;
      box-shadow: none;
    }
  }
  .btn-outline-dark:not(:disabled):not(.disabled).active,
  .btn-outline-dark:not(:disabled):not(.disabled):active,
  .show > .btn-outline-dark.dropdown-toggle {
    color: $color_dark;
    border-color: $border_color_primary;
    background: none;
    box-shadow: none;
  }
  .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
  .btn-outline-dark:not(:disabled):not(.disabled):active:focus,
  .show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: none;
  }
  .btn-outline-grey {
    font-weight: $font-weight-light;
    color: $color_dark_grey;
    border-color: $border_color_secondary;
    &:hover {
      color: $color_dark;
      border-color: $border_hover_secondary;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .btn-outline-grey:not(:disabled):not(.disabled).active,
  .btn-outline-grey:not(:disabled):not(.disabled):active,
  .show > .btn-outline-grey.dropdown-toggle {
    color: $color_dark;
    border-color: $border_color_primary;
    background: none;
    box-shadow: none;
  }
  .btn-outline-grey:not(:disabled):not(.disabled).active:focus,
  .btn-outline-grey:not(:disabled):not(.disabled):active:focus,
  .show > .btn-outline-grey.dropdown-toggle:focus {
    box-shadow: none;
  }
}
.btn-input {
  position: absolute;
  right: 0;
  padding: 0;
  line-height: 36px;
}
.button_block {
  width: auto;
  height: 30px;
}
.carouselButtons {
  position: absolute;
  width: 100%;
  padding-bottom: 35.4%;
  height: 0px;
  top: 0px;
  left: 0px;
}
.title {
  padding: $title_padding;
}
.title_border {
  width: $title-border;
  border: 1px solid;
  border-color: $border_color_primary;
  margin: 0 auto;
}
.articleBlock-title {
  padding: $header-pt;
}
.form_outline {
  border: none;
  border-bottom: 1px solid $color_dark_grey;
  border-radius: 0;
}
.form-control {
  &:focus {
    border-color: $border_color_primary;
    box-shadow: none;
  }
}
.img_mobile {
  @include sm {
    width: 278px;
    height: auto;
  }
}
#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;

    &:hover {
      color: tomato;
    }
  }
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;

    /* hide this*/
    z-index: 2;

    /* and place it over the hamburger*/

    -webkit-touch-callout: none;
  }
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  /* to stop flickering of text in safari*/

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  li {
    padding: 10px 0;
    font-size: 22px;
  }
}/*
 * And let's slide it in from the left*/

#menuToggle input:checked ~ ul {
  transform: none;
}